@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui" {
  themes: dark, light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary: #ff0000;
  --color-secondary: #AD0303;
  --color-neutral: #ffffff;
  --color-accent: #000000;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #ff0000;
  --color-secondary: #930F0F;
  --color-neutral: #000000;
  --color-accent: #ffffff;
}


html[data-theme='dark'] {
  background-color: #000000;
}
html[data-theme='light'] {
  background-color: #ffffff;
}


@keyframes mask-slide-left {
  20% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} 

@keyframes mask-slide-right {
  20% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-mask-left {
  animation: mask-slide-left 1.5s ease-out forwards;
}

.animate-mask-right {
  animation: mask-slide-right 1.5s ease-out forwards;
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.breathe-animation {
  animation: breathe 5s ease-in-out infinite;
}
@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollX {
  animation: scrollX 20s linear infinite;
}
